@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&family=Water+Brush&family=Oswald&display=swap');
body {
  background-color: blue;
  margin: 0;
  align-content: center;
  font-size: 30px;
}
#content {
  font-family: 'Walter Turncoat';
}
h1 {
  font-family: 'Water Brush';
}
button {
  font-family: 'Oswald';
  border-color: red;
  background-color: red;
  border-radius: 20px;
  color: #0000FF;
  font-size: 30px;
}
button:hover {
  cursor: pointer;
}
table, th, td {
  border: 1px solid black;
}
